SUPABASE_PROJECT_ID="eiibwqykavrmbsemlxwt"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_qfr5PoFGH_H4VT795n3ozA_k7oxXANT"
SUPABASE_URL="https://eiibwqykavrmbsemlxwt.supabase.co"
VITE_SUPABASE_PROJECT_ID="eiibwqykavrmbsemlxwt"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_qfr5PoFGH_H4VT795n3ozA_k7oxXANT"
VITE_SUPABASE_URL="https://eiibwqykavrmbsemlxwt.supabase.co"
GEMINI_API_KEY=""
